@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f0ff;
}

.root {
  width: 1400px;
  margin: 0px auto;
  display: flex;
  gap: 30px;

}

.bg-tabs {
  background: #fff;
  border-bottom: 1px solid gray;
  padding: 10px;
}

.bg-tabs div:nth-of-type(1) {
  background: transparent;
}

.group {
  @apply flex items-center justify-between border-b-1
}

.group th {
  @apply bg-transparent
}

.btn-close{
  display: flex;
  justify-content: center;
  align-items: center;
}


.cuttedText {
  display: block;
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  @apply bg-transparent
}